<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--If does not exist or not set to true the log file will not be written to.-->
    <add key="CompanyCommonsLogging" value="true"/>
    <!--Mongo DB Settings-->
    <add key="MongoDB_ConnectionString" value="" />
      <add key="MongoDB_Database" value="chimera" />
    <!-- UNIFY SETTINGS
    <add key="Default_LG_MD_Column_Width" value="97.16" />
    <add key="Default_SM_XS_Column_Width" value="95" />
    <add key="EditorRowToolbarRight" value="135px"/>
    <add key="MongoDB_Database" value="Unify" />
    <add key="Chimera_Template" value="Unify" />-->
    <!-- ERIKA SETTINGS -->
    <add key="Default_LG_MD_Column_Width" value="83.33" />
    <add key="Default_SM_XS_Column_Width" value="81" />
    <add key="EditorRowToolbarRight" value="-57px"/>
    <!--<add key="MongoDB_Database" value="Erika" />-->
    <add key="Chimera_Template" value="Erika" />

    <add key="No_Products_Found_Default_Message" value="We're sorry!  We were unable to find any products found." />
    <!--URL for the CDN where all the CSS / JS / IMAGES are stored in the production environment-->
    <!--<add key="PRODUCTION_GLOBAL_CDN_URL" value="http://localhost/CDN/Chimera/1/G/" />
    <add key="PRODUCTION_EDITOR_CDN_URL" value="http://localhost/CDN/Chimera/1/E/" />
    <add key="PRODUCTION_ADMIN_CDN_URL" value="http://localhost/CDN/Chimera/1/A/" />
    <add key="PRODUCTION_TEMPLATE_CDN_URL" value="http://localhost/CDN/Chimera/T/Erika/1.01/" />-->
    <add key="PRODUCTION_GLOBAL_CDN_URL" value="http://localhost/ChimeraWebsite/" />
    <add key="PRODUCTION_EDITOR_CDN_URL" value="http://localhost/ChimeraWebsite/" />
    <add key="PRODUCTION_ADMIN_CDN_URL" value="http://localhost/ChimeraWebsite/Admin/" />
    <add key="PRODUCTION_TEMPLATE_CDN_URL" value="http://localhost/ChimeraWebsite/Templates/Erika/" />
    <!--URL used for AJAX calls-->
    <add key="BaseWebsiteURL" value="http://localhost/ChimeraWebsite/" />
    <!--default image used for editor-->
    <add key="[CHIMERA_VALUE_DEFAULT_IMAGE]" value="/ChimeraWebsite/Images/defaultImage.png" />
    <!--If this chimera deployment has ecommerce or not-->
    <add key="ALLOW_ECOMMERCE" value="true" />
    <!--If we want to override editor mode for quick development testing-->
    <add key="InDeveloperEditMode" value="true" />
    <!--If we are in product mode, mostly used for switching CSS / JS / FONTS to us CDN-->
    <add key="InProductionMode" value="false" />
    <!--amazon s3 keys & info-->
    <add key="AWSAccessKey" value="AKIAJXZK5TSZWEOBM5CQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSRegion" value="us-east-1" />
    <add key="AWSBucketName" value="ChimeraTest" />
    <add key="AWSBucketFolderPath" value="Uploads/Images/" />
    <add key="AWSUrl" value="https://s3.amazonaws.com/" />
    <add key="ALLOW_PAGE_REPORT_RECORDING" value="true"/>
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Newtonsoft.Json" />
        <add namespace="System.Configuration"/>
        <add namespace="Chimera.DataAccess" />
        <add namespace="ChimeraWebsite.Models"/>
        <add namespace="ChimeraWebsite.Helpers"/>
        <add namespace="Chimera.Entities"/>
        <add namespace="Chimera.Entities.Product"/>
        <add namespace="Chimera.Entities.Settings"/>
        <add namespace="Chimera.Entities.Settings.Keys"/>
        <add namespace="CEP=Chimera.Entities.Property"/>
        <add namespace="Chimera.Entities.Product.Property"/>
        <add namespace="Chimera.Entities.Page"/>
        <add namespace="Chimera.Entities.Uploads"/>
        <add namespace="Chimera.Entities.Website"/>
        <add namespace="Chimera.Entities.Orders"/>
        <add namespace="ChimeraWebsite.Models.Editor"/>
        <add namespace="ChimeraWebsite.Models.Product"/>
        <add namespace="ChimeraWebsite.Models.ShoppingCart"/>
        <add namespace="ChimeraWebsite.Models.Order"/>
        <add namespace="EFT=ChimeraWebsite.Models.Editor.EditableFieldTypes"/>
        <add namespace="SHE=ChimeraWebsite.Models.Editor.SpecialHTMLElement"/>
        <add namespace="CompanyCommons.Entities" />
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>